<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div id="fh5co-logo"><a href="inicio">Graffitticolor</a></div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li><a href="inicio">Inicio</a></li>
						<li><a href="nosotros">Nosotros</a></li>
						<li><a href="servicios">Servicios</a>						</li>
						<li><a href="clientes">Clientes</a></li>
            <li><a href="/perfil">Area de Pedidos</a></li>
						<li><a href="contacto">Contacto</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
